body{
    color:beige;
}
a{
    color: #006699;
text-decoration: none;
}
a:hover{
    color: #1f9900;
}
.btn{
    background-color: aqua;;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border: radius 5px;
}


.btn:hover{
    background-color: #1f9900;
    color: #fff;
}

